<div class="box">
  <div class="level is-marginless is-mobile">
    <div class="level-left">
      <h2 class="name">
        {{ state.name }}
      </h2>
    </div>
    <div class="level-right">
      <div class="buttons is-marginless">
        <div>
          <button class="button is-danger"
                  type="button"
                  (click)="delete()">
            <span>Delete</span>
            <span class="icon is-small">
              <fa-icon icon="times"></fa-icon>
            </span>
          </button>
          <button class="button is-primary"
                  type="button"
                  (click)="startEdit()">
            <span>Edit</span>
            <span class="icon is-small">
              <fa-icon icon="edit"></fa-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <p class="description">
    {{ state.description }}
  </p>

  <label class="label">
    Function Body
  </label>
  <pre>{{ state.evalFunctionBody }}</pre>

  <div class="parameters">
    <div class="parameters-title">
      <label class="label">Parameters</label>
      <p *ngIf="state.parameters.length === 0">
        This predicate kind does not have any parameters.
      </p>
    </div>

    <div class="box parameter"
         *ngFor="let parameter of state.parameters; let i = index; trackBy: trackByIndex">

      <h3 class="parameter-name">
        {{ parameter.name }}
      </h3>

      <p class="parameter-description">
        {{ parameter.description }}
      </p>

      <div class="columns">

        <div class="column is-narrow">
          <label class="label">Is Required?</label>
          <span>{{ parameter.isRequired ? 'Yes' : 'No' }}</span>
        </div>

        <div class="column is-narrow">
          <label class="label">Value Type</label>
          <span>{{ parameter.valueType }}</span>
        </div>

        <div class="column">
          <label class="label">Default Value</label>
          <span>{{ parameter.defaultValue }}</span>
        </div>

      </div>
    </div>
  </div>
</div>
