<h1 class="title">
  Predicate Kinds
</h1>

<div *ngIf="(state$ | async).tiles.length > 0">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="field">
        <p class="control">
          <input class="input filter"
                 placeholder="Filter..."
                 [ngrxFormControlState]="(state$ | async).filterControl" />
        </p>
      </div>
    </div>
    <div class="level-right">
      <button class="button is-primary"
              (click)="openNewItemDialog()">
        <span>Create new kind</span>
        <span class="icon is-small">
          <fa-icon icon="plus"></fa-icon>
        </span>
      </button>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-4-fullhd is-6-desktop is-12-tablet"
         *ngFor="let item of (state$ | async).tiles; trackBy: trackById">
      <sim-predicate-kind-tile [state]="item"></sim-predicate-kind-tile>
    </div>
  </div>
</div>
<div *ngIf="(state$ | async).tiles.length === 0">
  <p>There are no predicate kinds yet.</p>
  <br />
  <!-- TODO: add button to create default predicate kinds -->
  <button class="button is-primary"
          (click)="openNewItemDialog()">
    <span>Create new kind</span>
    <span class="icon is-small">
      <fa-icon icon="plus"></fa-icon>
    </span>
  </button>
</div>

<sim-predicate-template-dialog [state]="(state$ | async).dialog"></sim-predicate-template-dialog>
