<sim-loading-bar></sim-loading-bar>

<section class="hero is-primary">
  <div class="hero-head">
    <nav class="navbar"
         role="navigation"
         aria-label="main navigation">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item"
               predicateTreeLink>
              Predicate Tree
            </a>
            <a class="navbar-item"
               predicateKindsLink>
              Predicate Kinds
            </a>
            <a class="navbar-item"
               responseGeneratorKindsLink>
              Response Generator Kinds
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
