@import 'variables';

.node+.node {
  margin-top: 1.5rem;
}

.node>.box.is-selected {
  border-color: rgba($link, 0.5) !important;
}

.description {
  margin-right: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  white-space: nowrap;
  margin-left: 0.2em;
}

.parameter-preview {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  > .parameter {
    margin-right: 1em;

    > .label {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 0.25rem;
    }
  }
}

.child-nodes {
  padding-left: 2.5em;
  border-left: 1px solid $grey-dark;

  > .node:first-child {
    margin-top: 1.5rem;
  }
}

.expansion-toggle-trigger {
  cursor: pointer;

  &.is-expanded > .expansion-toggle-icon {
    transform: rotate(90deg);
  }

  &.is-disabled {
    cursor: inherit;

    > .expansion-toggle-icon {
      opacity: 0;
    }
  }
}

.expansion-toggle-icon {
  user-select: none;
  transition: transform ease 200ms;
}
