@import "~bulmaswatch/darkly/variables";
@import "constants";
@import "~bulma/bulma";
@import "~bulmaswatch/darkly/overrides";

form.is-readonly .field {
  &:not(:last-child) {
    margin-bottom: 0rem;
  }

  >.control {
    >.input,
    >.textarea {
      box-shadow: none;

      &:not(.code) {
        background-color: transparent;
      }

      resize: none;
    }
  }
}

.modal {
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: all ease 200ms;

  &.is-active {
    opacity: 1;
    pointer-events: inherit;
  }

  .input, .textarea {
    background-color: $body-background-color;
  }
}

.field {
  transition: all ease 200ms;

  &:not(:last-child) {
    margin-bottom: 0.7rem;
  }
}

.input,
.textarea {
  border: 0;
}

.textarea.code {
  font-family: "Inconsolata", "Consolas", "Monaco", monospace;
}

.field.title .input {
  font-size: 120%;
  font-weight: bold;
}

.form-control-errors .error {
  color: $danger;
  font-size: 0.75rem;
}

.is-paddingless-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.is-borderless {
  border: 0 !important;
}

.justify-content {
  &.flex-end {
    justify-content: flex-end;
  }
}
