@import '~bulmaswatch/darkly/variables';
@import 'variables';
@import '~bulma/bulma';
@import 'darkly-overrides';
@import '~bulma-checkradio/dist/css/bulma-checkradio';
@import '~bulma-tagsinput/dist/css/bulma-tagsinput';
@import '~bulma-tooltip/dist/css/bulma-tooltip';

html,
body {
  height: 100%;
  overflow: auto;
}

.main-content {
  margin-top: 4rem;
  height: calc(100% - 4rem);
}

.page {
  @extend .container;
  height: 100%;
  display: block;
  padding: 2rem 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.is-paddingless-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.is-borderless {
  border: 0 !important;
}
