<nav class="navbar is-fixed-top"
     role="navigation"
     aria-label="main navigation">
  <div class="container is-fluid">

    <div class="navbar-brand">
      <a role="button"
         class="navbar-burger has-text-white"
         [class.is-active]="state.menuIsOpen"
         (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu"
         [class.is-active]="state.menuIsOpen">
      <div class="navbar-start">

        <a class="navbar-item has-text-white"
           (click)="closeMenu()"
           predicateTreeLink>
          Predicate Tree
        </a>

        <a class="navbar-item has-text-white"
           (click)="closeMenu()"
           predicateTemplatesLink>
          Predicate Templates
        </a>

        <a class="navbar-item has-text-white"
           (click)="closeMenu()"
           responseGeneratorTemplatesLink>
          Response Generator Templates
        </a>

      </div>

    </div>
  </div>
</nav>
