<form [ngrxFormState]="state.newItem.formState">
  <div class="modal"
       [class.is-active]="state.newItemDialogIsOpen && !state.newItemDialogIsClosing">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create new predicate kind</p>
      </header>
      <section class="modal-card-body">
        <!--
          We remove the item from the DOM while the dialog is not open to
          prevent any animations from playing when the dialog is opened.
        -->
        <sim-predicate-kind-list-item [state]="state.newItem"
                                      *ngIf="state.newItemDialogIsOpen"></sim-predicate-kind-list-item>
      </section>
      <footer class="modal-card-foot justify-content flex-end">
        <button class="button is-danger is-outlined"
                type="button"
                (click)="cancelNewItemDialog()"
                [disabled]="state.newItemIsSubmitting">
          Cancel
        </button>
        <button class="button is-success"
                [class.is-loading]="state.newItemIsSubmitting"
                (click)="submitNewItemDialog()"
                [disabled]="state.newItem.formState.isInvalid && state.newItem.formState.isSubmitted">
          Save changes
        </button>
      </footer>
    </div>
  </div>
</form>

<div *ngIf="state.items.length > 0">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="field">
        <p class="control">
          <input class="input filter"
                 placeholder="Filter..."
                 [ngrxFormControlState]="state.filterControl" />
        </p>
      </div>
    </div>
    <div class="level-right">
      <button class="button is-primary"
              (click)="openNewItemDialog()">
        <span>Create new kind</span>
        <span class="icon is-small">
          <fa-icon icon="plus"></fa-icon>
        </span>
      </button>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-4-fullhd is-6-desktop is-12-tablet"
         *ngFor="let item of state.items; trackBy: trackById">
      <div class="box">
        <sim-predicate-kind-list-item [state]="item"></sim-predicate-kind-list-item>
      </div>
    </div>
  </div>
</div>
<div *ngIf="state.items.length === 0">
  <p>There are no predicate kinds yet.</p>
  <br />
  <!-- TODO: add button to create default predicate kinds -->
  <button class="button is-primary"
          (click)="openNewItemDialog()">
    <span>Create new kind</span>
    <span class="icon is-small">
      <fa-icon icon="plus"></fa-icon>
    </span>
  </button>
</div>
