<div class="field">
  <label class="label"
         [class.is-marginless]="state.isReadOnly">
    Parameter Name
  </label>
  <div class="control">
    <input class="input"
           type="text"
           [ngrxFormControlState]="formState.controls.name"
           [readonly]="state.isReadOnly"
           [class.is-paddingless]="state.isReadOnly">
    <sim-form-control-errors [formState]="formState.controls.name">
      <span class="help is-danger"
            *ngIf="formState.controls.name.errors.required">
        Please enter a name
      </span>
    </sim-form-control-errors>
  </div>
</div>
<div class="field">
  <label class="label"
         [class.is-marginless]="state.isReadOnly">
    Description
  </label>
  <div class="control">
    <input class="input"
           type="text"
           [ngrxFormControlState]="formState.controls.description"
           [readonly]="state.isReadOnly"
           [class.is-paddingless]="state.isReadOnly">
    <sim-form-control-errors [formState]="formState.controls.description">
      <span class="help is-danger"
            *ngIf="formState.controls.description.errors.required">
        Please enter a description
      </span>
    </sim-form-control-errors>
  </div>
</div>
<div class="columns no-margin-bottom"
     [class.negative-margin-bottom]="state.isReadOnly">
  <div class="column is-narrow is-required-input-column">
    <div class="field">
      <label class="label">Is Required?</label>
      <div class="control"
           [class.radio-control]="!state.isReadOnly">
        <input type="radio"
               id="{{ formState.controls.isRequired.id }}.yes"
               class="is-checkradio is-rtl is-white"
               [value]="true"
               [ngrxFormControlState]="formState.controls.isRequired">
        <label for="{{ formState.controls.isRequired.id }}.yes"
               *ngIf="!state.isReadOnly">
          Yes
        </label>
        <input type="radio"
               id="{{ formState.controls.isRequired.id }}.no"
               class="is-checkradio is-rtl is-white"
               [value]="false"
               [ngrxFormControlState]="formState.controls.isRequired">
        <label for="{{ formState.controls.isRequired.id }}.no"
               *ngIf="!state.isReadOnly">
          No
        </label>
        <span *ngIf="state.isReadOnly">{{ formState.controls.isRequired.value ? 'Yes' : 'No' }}</span>
      </div>
    </div>
  </div>
  <div class="column is-narrow value-type-input-column">
    <div class="field">
      <label class="label">Value Type</label>
      <div class="control">
        <div class="select"
             *ngIf="!state.isReadOnly">
          <select class="is-borderless"
                  [ngrxFormControlState]="formState.controls.valueType">
            <option value="string">string</option>
            <option value="boolean">boolean</option>
            <option value="number">number</option>
          </select>
        </div>
        <span *ngIf="state.isReadOnly">{{ formState.controls.valueType.value }}</span>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <label class="label"
             [class.is-marginless]="state.isReadOnly && formState.value.valueType !== 'boolean'">
        Default Value
      </label>
      <div class="control"
           *ngIf="formState.value.valueType === 'string'">
        <input class="input"
               type="text"
               [ngrxFormControlState]="formState.controls.defaultValue"
               [readonly]="state.isReadOnly"
               [class.is-paddingless]="state.isReadOnly">
      </div>
      <div class="control"
           *ngIf="formState.value.valueType === 'number'">
        <input class="input"
               type="number"
               [ngrxFormControlState]="formState.controls.defaultValue"
               [readonly]="state.isReadOnly"
               [class.is-paddingless]="state.isReadOnly">
      </div>
      <div class="control"
           [class.radio-control]="!state.isReadOnly"
           *ngIf="formState.value.valueType === 'boolean'">
        <input type="radio"
               id="{{ formState.controls.defaultValue.id }}.true"
               class="is-checkradio is-rtl is-white"
               [value]="true"
               [ngrxFormControlState]="formState.controls.defaultValue">
        <label for="{{ formState.controls.defaultValue.id }}.true"
               *ngIf="!state.isReadOnly">
          True
        </label>
        <input type="radio"
               id="{{ formState.controls.defaultValue.id }}.false"
               class="is-checkradio is-rtl is-white"
               [value]="false"
               [ngrxFormControlState]="formState.controls.defaultValue">
        <label for="{{ formState.controls.defaultValue.id }}.false"
               *ngIf="!state.isReadOnly">
          False
        </label>
        <span *ngIf="state.isReadOnly">{{ formState.controls.defaultValue.value ? 'True' : 'False' }}</span>
      </div>
    </div>
  </div>
</div>
<sim-expansion-container [isCollapsed]="state.isReadOnly">
  <button class="button is-danger"
          type="button"
          (click)="removeParameter()">
    <span>Remove</span>
    <span class="icon is-small">
      <fa-icon icon="times"></fa-icon>
    </span>
  </button>
</sim-expansion-container>
