@import 'constants';

label {
  transition: all ease 200ms;
}

.select:not(.is-multiple) {
  height: 2.5em;
}

.radio-control {
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}

.is-required-input-column {
  min-width: 150px;
}

.value-type-input-column {
  min-width: 125px;
}

.columns.no-margin-bottom {
  transition: all ease 200ms;
  margin-bottom: 0;

  &.negative-margin-bottom {
    margin-bottom: -0.75rem;
  }
}
