<form [ngrxFormState]="state.formState">
  <div class="modal"
       [class.is-active]="state.dialogIsOpen && !state.dialogIsClosing">
    <div class="modal-background"></div>
    <div class="modal-card">

      <header class="modal-card-head">
        <p class="modal-card-title"
           *ngIf="state.isNewItem">
          Create new predicate kind
        </p>
        <p class="modal-card-title"
           *ngIf="!state.isNewItem">
          Edit predicate kind
        </p>
      </header>

      <!--
        We remove the body from the DOM while the dialog is not open to
        prevent any animations from playing when the dialog is opened.
      -->
      <section class="modal-card-body"
               *ngIf="state.dialogIsOpen">
        <sim-predicate-kind-form [formState]="state.formState"></sim-predicate-kind-form>
      </section>

      <footer class="modal-card-foot justify-content flex-end">
        <button class="button is-danger is-outlined"
                type="button"
                (click)="cancelDialog()"
                [disabled]="state.isSaving">
          Cancel
        </button>
        <button class="button is-success"
                [class.is-loading]="state.isSaving"
                (click)="submitDialog()"
                [disabled]="state.formState.isInvalid && state.formState.isSubmitted">
          Save
        </button>
      </footer>
    </div>
  </div>
</form>
