<h1 class="title">
  Predicate Node
</h1>

<div class="box"
     *ngIf="!state.node.nodeId">
  Select a predicate node by clicking or tapping it to view its details
</div>

<div class="box content"
     *ngIf="state.node.nodeId">

  <div class="level is-marginless is-mobile">

    <div class="level-left">
      <h3>
        {{ state.node.name }}
      </h3>
    </div>

    <div class="level-right">

      <div class="buttons is-marginless">

        <button class="button is-danger"
                type="button">
          <span>Delete</span>
          <span class="icon is-small">
            <fa-icon icon="times"></fa-icon>
          </span>
        </button>

        <button class="button is-primary"
                type="button">
          <span>Edit</span>
          <span class="icon is-small">
            <fa-icon icon="edit"></fa-icon>
          </span>
        </button>

      </div>

    </div>

  </div>

  <p *ngIf="state.templateNameIsVisible">
    Based on template <i>{{ state.node.predicateTemplateVersionSnapshot.name }}</i>
  </p>

  <div class="group">

    <h5>
      Parameter Values
    </h5>

    <p *ngIf="state.node.predicateTemplateVersionSnapshot.parameters.length === 0">
      This node's template does not have any parameters.
    </p>

    <div class="parameter"
         *ngFor="let kv of state.node.parameterValues | keyValue; trackBy: trackByKey">

      <label class="label">
        {{ kv.key }}:
      </label>

      <span class="value">
        {{ kv.value }}
      </span>

    </div>

  </div>

  <div class="group"
       *ngIf="!state.responseGenerator">

    <h5>
      Child Nodes
    </h5>

    <p *ngIf="(state.childNodeNames | keyValue).length === 0">
      This predicate node does not have any child nodes.
    </p>

    <div class="child-node"
         *ngFor="let kv of state.childNodeNames | keyValue; trackBy: trackByKey">

      <a (click)="selectChildNode(kv.key)">
        {{ kv.value }}
      </a>

    </div>

    <button class="button is-primary"
            type="button">
      <span>Add Child Node</span>
      <span class="icon is-small">
        <fa-icon icon="plus"></fa-icon>
      </span>
    </button>

  </div>

  <div class="group"
       *ngIf="(state.childNodeNames | keyValue).length === 0 && !state.responseGenerator">

    <h5>
      Response Generator
    </h5>

    <p>
      This predicate node does not have a response generator.
    </p>

    <button class="button is-primary"
            type="button">
      <span>Set Response Generator</span>
      <span class="icon is-small">
        <fa-icon icon="plus"></fa-icon>
      </span>
    </button>

  </div>

</div>

<h1 class="title"
    *ngIf="state.responseGenerator">
  Response Generator
</h1>

<div class="box content"
     *ngIf="state.responseGenerator">

  <div class="level is-marginless is-mobile">

    <div class="level-left">
      <h3>
        {{ state.responseGenerator!.name }}
      </h3>
    </div>

    <div class="level-right">

      <div class="buttons is-marginless">

        <button class="button is-danger"
                type="button">
          <span>Remove</span>
          <span class="icon is-small">
            <fa-icon icon="times"></fa-icon>
          </span>
        </button>

        <button class="button is-primary"
                type="button">
          <span>Edit</span>
          <span class="icon is-small">
            <fa-icon icon="edit"></fa-icon>
          </span>
        </button>

      </div>

    </div>

  </div>

  <p *ngIf="state.responseGeneratorTemplateNameIsVisible">
    Based on template <i>{{ state.responseGenerator!.templateVersionSnapshot.name }}</i>
  </p>

  <div class="group">

    <h5>
      Parameter Values
    </h5>

    <p *ngIf="state.responseGenerator!.templateVersionSnapshot.parameters.length === 0">
      This response generator's template does not have any parameters.
    </p>

    <div class="parameter"
         *ngFor="let kv of state.responseGenerator!.parameterValues | keyValue; trackBy: trackByKey">

      <label class="label">
        {{ kv.key }}:
      </label>

      <span class="value">
        {{ kv.value }}
      </span>

    </div>

  </div>

</div>
