<form [class.is-readonly]="!state.isEditing"
      [ngrxFormState]="state.formState">
  <div class="field title">
    <p class="control">
      <input class="input"
             type="text"
             placeholder="Name"
             [ngrxFormControlState]="state.formState.controls.name"
             [readonly]="!state.isEditing"
             [class.is-paddingless]="!state.isEditing">
      <sim-expansion-container class="errors"
                               [isCollapsed]="state.formState.controls.name.isValid || (state.formState.controls.name.isUnsubmitted && state.formState.controls.name.isUntouched)">
        <span class="error"
              *ngIf="state.formState.controls.name.errors.required">
          Please enter a name
        </span>
      </sim-expansion-container>
    </p>
  </div>
  <div class="buttons is-pulled-right is-marginless"
       *ngIf="!state.isNewItem">
    <a class="button is-primary"
       (click)="startEdit()"
       *ngIf="!state.isEditing">
      <span>Edit</span>
      <span class="icon is-small">
        <fa-icon icon="edit"></fa-icon>
      </span>
    </a>
    <a class="button is-danger"
       (click)="cancelEdit()"
       *ngIf="state.isEditing">
      <span>Cancel</span>
      <span class="icon is-small">
        <fa-icon icon="times"></fa-icon>
      </span>
    </a>
  </div>
  <div class="field">
    <p class="control">
      <input class="input"
             placeholder="Description"
             [ngrxFormControlState]="state.formState.controls.description"
             [readonly]="!state.isEditing"
             [class.is-paddingless]="!state.isEditing">
    </p>
  </div>
  <div class="field">
    <label class="label">Function Body</label>
    <p class="control">
      <textarea class="textarea code"
                rows="3"
                [ngrxFormControlState]="state.formState.controls.evalFunctionBody"
                [readonly]="!state.isEditing">
      </textarea>
    </p>
  </div>
</form>
