@import 'constants';

.field.title {
  max-width: 500px;
  display: inline-block;
}

.parameters {
  padding-top: 0.5rem;

  >.tile>div.parameters-title {
    margin-bottom: 0.5rem !important;
  }
}

.tile.box {
  border: 1px solid $background;
}

.parameter {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
